@page
@model ThanksModel
@{
    ViewData["Title"] = "Thanks for your submission!";
}
<head>
    <link rel="stylesheet" href="~/css/thanks.css" />

</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <a asp-page="/courseList">See your review in the course list</a>
    </div>
</body>


