
div.tooltip {
	position: relative;
	display: inline-block;
	display: block;
    height: 12px;
    width: 12px;
    line-height: 12px;
    -moz-border-radius: 6px; /* or 50% */
    border-radius: 6px; /* or 50% */
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
}
  
/* Tooltip text */
div.tooltip span.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: small;
	position: absolute;
	z-index: 1;


}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}


/*table style */
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	table-layout: fixed;
	font-size: 24px;
}

tbody {
	background-color: #d4d4d4;

}

th {
	background-color: #4CAF50;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

label {
	color: white;
}