* {
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	padding: 10px;
	background: #222629;
}

h1 {
	font-size: 50px;
	color: #86c232;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
	font-size: 50px;
	color: #86c232;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav-right {
	float: right;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Style Home Page */
.home-container {
	display: grid;
	grid-template-columns: 100%;
	padding: 10px;
	margin: 0px 250px 0px 250px;
	row-gap: 25px;
	column-gap: 25px;
}

.home-item {
	/* background-color: #6e6e6e; */
	padding: 0px;
	font-size: 30px;
	text-align: left;
	margin: 0px 0 0px 0;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: right;
	width: 25%;
	background-color: #6e6e6e ;
	padding-left: 20px;
}


/* Add a card effect for articles */
.card {
	padding: 25px 100px 50px 50px;
	margin: 25px 50px 50px 50px; /* top right bottom left */
	background-color: #6e6e6e;
}

.card h2 {
	color: #86c232;
}

p {
	color: #f2f2f2;
	line-height: 150%;
	font-size: 20px;
}

.ad {
	padding: 20px;
	margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width : 800px) {
	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width : 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}

/* Submit Page */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #4CAF50;
	padding: 10px;
	width: 50%;
	margin-bottom: 50px;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: left;
}

/* Submit Button */
.submit {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 10px 10px;
	cursor: pointer;
	border-radius: 12px;
}

/* Comment Area on Submit Page */
textarea {
	width: 300px;
	height: 150px;
}


/*table style */
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	table-layout: fixed;
}

tbody {
	background-color: #d4d4d4;

}

thead {
	background-color: #4CAF50;
}




/* Link Colors */
a {
	color: #4CAF50;
	text-decoration: none;
}

/* Style Image */
img {
	width: 25%;
	height: auto;
}