<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - What2Take</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
</head>
<body>
    <header>
    <div
        class="topnav">
        <a asp-area="" asp-page="/Index">What2Take</a>
        <a asp-area="" asp-page="/courseList">Course List</a>
        <a asp-area="" asp-page="/Submit">Submit a Review</a>
        <a asp-area="" asp-page="/FAQ">FAQs</a>
        <a asp-area="" asp-page="/Contact">Contact Us</a>

    </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - What2Take - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
